:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f5f7fa; /* Light professional gray */
  margin: 0;
  display: block;
}

body {
  margin: 0;
  display: block;
  min-width: 100vw;
  min-height: 100vh;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}